@{
    ViewData["Title"] = "Home Page";
}


<div class="m-3">
    <p>Demo 1 : <a href="/marketing">Marketing</a>: Create Personas, communication segments and recommendations.</p>
    <p>Demo 2 : <a href="/CustomerHistory">Customer History</a>: Get 3 client history and get all information to prepare meeting : Recommendation, ... </p>
    <p>Demo 3 : <a href="/CustomerService">Customer Service</a>: Get Insights and actions about a customer call and Customer Service.</p>
</div>
